#root {
  width: 90%;
}

.app-container,
.hidden-brick,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-container {
  gap: 3rem;
}

header {
  text-align: center;
  max-width: 352px;
}

header h2 {
  margin: 0;
}

header p {
  color: #8e8e8e;
}

.hidden-brick {
  background-color: #10a95b;
  text-align: center;
  border-radius: 4px;
}

.gameWon {
  background-color: #10a95b;
}

.gameLost {
  background-color: #ba2a2a;
}

.languages-container {
  width: 16rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
}

.guessbox-container {
  display: flex;
  gap: 2px;
}

main {
  gap: 4rem;
}

.keyboard-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  gap: 12px;
  justify-content: center;
}

.new-game-btn {
  padding: 0.8rem 3rem;
  background-color: #11b5e5;
  color: #1e1e1e;
  border: 1px solid #d7d7d7;
  font-weight: 600;
  border-radius: 4px;
}
